<!-- Search form -->
<section class="cards-search">
  <div class="cards-search-container">
    
    <div class="cards-search-bar-container">
      <p>Search card by name</p>
      <div class="cards-search-bar">
        <i class="fa fa-search" style="font-size:1rem"></i>
        <input id="cards-search-input" type="text" placeholder="I choose you!" name="pokemonName" />
        <base href="/" />
        <a id="search-link" href=""></a>
        <div id="cards-search-button">Go!</div>
      </div>
    </div>
    
    <div class="view-pokemon-button-container">
      <p>Or find your Pok&#233;mon first</p>
      <base href="/" />
      <a id="view-pokemon-button" href="pokemon/1">View Pok&#233;mon</a>
    </div>
    
    <div class="filter">
      <div class="filter-container">
        <div class="types filter-button">
          <p>Type</p>
          <ul class="types-list">
          </ul>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
        <div class="rarity filter-button">
          <p>Rarity</p>
          <ul class="rarity-list"></ul>
          <i class="fa fa-angle-down" aria-hidden="true"></i>
        </div>
      </div>
    </div>

  </div>
</section>