<footer>
  <div class="footer-container">
    <p>The TCG Pokedex by
      <a href="https://jasper-favis.github.io/portfolio-site-2/" target="_blank">Jasper Favis</a>
    </p>
    <p>All data made available by 
      <a href="https://pokemontcg.io/" target="_blank">The Pokemon TCG API</a>
      and
      <a href="https://pokeapi.co/" target="_blank">PokeAPI</a>
    </p>
    <p>
      This website is not produced, endorsed, supported, or affiliated with Nintendo or The Pokémon Company.
    </p>
  </div>
</footer>