<div class="modal">
  <div class="card-focus">
    <div class="img-wrapper">
      <img 
        id="cardImg" src="" 
        alt="card image" 
        onerror="this.onerror=null; this.src='/images/psyduck.png'"
      />
    </div>
    <div class="description-container">
      <p id="name">Name</p>
      <div class="description">
        <div class="fields" id="rarity">
          <p>Rarity:</p>
          <div></div>
        </div>
        <div class="fields" id="types">
          <p>Type:</p>
          <ul></ul>
        </div>
        <div class="fields" id="evolvesFrom">
          <p>Evolves from:</p>
          <div></div>
        </div>
        <div class="fields" id="evolvesTo">
          <p>Evolves to:</p>
          <div id="evolutions"></div>
        </div>
        <div class="fields" id="tcgpPrices">
          <p>Prices from TCGPlayer.com</p>
          <div class="tcgp-price-groups"></div>
        </div>
      </div>
    </div>
  </div>
</div>