<nav>
  <div class="nav-container">
    <div class="nav-logo">
      <base href="/" />
      <a href="/">
        <img src="/images/gengar-cropped.png" alt=""> The TCG Pok&#233;dex
      </a>
    </div>

    <div id="burger-button">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <ul class="nav-links">
      <base href="/">
      <li><a id="pokemon-link" href="pokemon/1">Pok&#233;mon</a></li>
      <li id="cards-link">Cards</li>
    </ul>
  </div>
</nav>