<!-- Search form -->
<section class="pokemon-search">
  <div class="pokemon-search-container">

    <div class="gen-dropdown-container">
      <p>Browse by generation</p>
      <div class="gen-dropdown-button">
        <p>Select Generation</p>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </div>
      
      <ul class="gen-list">
        <base href="/" />
        <li><a id="1" href="pokemon/1">1st Gen</a></li>
        <li><a id="2" href="pokemon/2">2nd Gen</a></li>
        <li><a id="3" href="pokemon/3">3rd Gen</a></li>
        <li><a id="4" href="pokemon/4">4th Gen</a></li>
        <li><a id="5" href="pokemon/5">5th Gen</a></li>
        <li><a id="6" href="pokemon/6">6th Gen</a></li>
        <li><a id="7" href="pokemon/7">7th Gen</a></li>
        <li><a id="8" href="pokemon/8">8th Gen</a></li>
        <li><a id="9" href="pokemon/9">9th Gen</a></li>
      </ul>
    </div>

    <div class="view-cards-button-container">
      <p>Or search for a card</p>
      <div id="view-cards-button">View Cards</div>
    </div>
    
  </div>
</section>