<!-- Search form -->
<section class="search">
  <div class="search-container">
    <h1>The TCG Pok&#233;dex</h1>
    <div class="search-bar">
      <i class="fa fa-search" style="font-size:1rem"></i>
      <input id="search-input" type="text" placeholder="I choose you!" name="pokemonName" />
      <base href="/" />
      <a id="search-link" href=""></a>
    </div>
    
    <div class="search-subtext">
      <base href="/" />
      <p>Search a card or browse <a href="pokemon/1">Pok&#233;mon</a> by generation</p>
    </div>

  </div>
</section>
